


body {
  background-color: #8CD9BB;
  margin: auto;
  display: block;
  background-image: url('img/mzarzoza_persona.jpg');
  background-position: center;
}



img {
  padding: 5px;
  margin: auto;
  position: relative;
  float: none;

}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 5px;
  float: left;
  color: #9794D2;
}















/*Media Queries*/

/* Tablet */
@media screen and (max-width: 768px) {
  
  body {
    margin: auto;
    display: inline-block;
  }

 }
  }



/* Mobile */
@media screen and (max-width: 480px) {
  
  body {
   margin: auto;
  }

 

}

/* Show Grid 
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}*/

